<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.optimizer.coloros16">

    <!-- LSPosed Module Declaration -->
    <meta-data
        android:name="xposedmodule"
        android:value="true" />
    <meta-data
        android:name="xposeddescription"
        android:value="ColorOS 16 系统优化模块 - 优化动画、电池、网络、主题等" />
    <meta-data
        android:name="xposedminversion"
        android:value="93" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ColorOS16Optimizer"
        tools:targetApi="34">

        <activity
            android:name=".ui.ModuleActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ColorOS16Optimizer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
